@model Career_Search_Project.Areas.Admin.Models.JobType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
